.modal-fundo {
    width: 40%;
    height: 40%;
    background-color: rgba(2, 2, 2, 0.562);
    position:absolute;
    top: 30%;
    left: 30%;
    border-radius: 10px;
    align-content: center;
    box-shadow: 10px 5px 2px black;
}
.titulo-modal{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}
.botao-fechar{
    display: flex;
    justify-content: end;
}

.botao-fechar button{
    border: none;
    background-color: transparent;
    font-size: 2rem;
    
}


.modal-formulario {
    background-color: aliceblue;
    opacity:0.9;
    width:auto;
    border-radius: 10px;
    height: 95%;
    margin: 10px;
    align-content: center;
    padding:  0 2rem;
}
.formulario {
    display: grid;
    gap: 5px;
}

h3{
    margin: 0 0 1rem 0;

}
form button{
    border-radius: 10px;
    width: 6rem;
    background-color: rgba(183, 231, 183, 0.548);
}

