@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.cabecalho {
    font-family: 'Pacifico';
    text-align: center;
    font-size: 4.5rem;
    padding: 1.5rem;
    border-bottom: 2px solid black;
}